.sidebar {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    position: sticky;
    top: 0;
    background-color: #60b4f4;
    transition: all 1.15s ease-out;
}

.shopping-cart-side{
    transition: flex-grow 1000ms linear;
}