.home {
    width: auto;
    max-width: 100vw;
    min-width: 90vw;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    min-height: 100%;
}

.home-content {
    flex: 1 1 auto;
}