div.icon-button {
    margin: 0.25em;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #97e6ff;
    padding: 10px 20px;
    border-radius: 16px;
    transition: 0.2s all ease;
}

div.icon-button:hover {
    /*transform: perspective(10px) translateZ(0);*/
    /*transition: 0.3s all linear;*/
    transform: scale(1.05);
    transition-property: transform;
}

span.icon-button {
    padding-right: 0.5em;
}

div.button-inactive {
    background-color: #1985c1;
}