.navbar {
    background-color: #60b4f4;
    width: auto;
    height: auto;
    display: flex;
    top: 0;
    position: sticky;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.store-name{
    padding-left: 1em;
}

.main-bar {
    display: flex;
    align-items: center;
    padding-left: 4vw;
}

.navbar .filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 1em;
}