.navbar {
    background-color: #60b4f4;
    width: 90vw;
    height: auto;
    display: flex;
    top: 0;
    position: sticky;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.main-bar {
    display: flex;
    align-items: center;
    background-color: pink;
}

.navbar .filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}