.product-card {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0.5em;
    justify-content: start;
    background-color: white;
    border: 1px solid #11111111;
    box-shadow: 0 2px 5px #00000011;
    border-radius: 16px;
    height: fit-content;
}

.product-card .content {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.product-card-buttons {
    display: flex;
    justify-content: center;
}

.product-card-prod-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #97e6ff;
    margin: 0.25em;
    padding: 10px 20px;
    border-radius: 16px;
}

.product-name {
    text-align: center;
}

.media {
    width: 100%;
    border-radius: 16px;
    height: auto;
    padding: 0.25em;
}